.case-study {
  padding-top: 140px;
  padding-bottom: 140px;

  background-color: $case-study-bg;

  &__title {
    margin-bottom: 30px;
    font-size: 36px;
    font-weight: 600;
    line-height: 40px;
    letter-spacing: 3.6px;
    color: $case-study-title;
    text-transform: uppercase;
    text-align: center;
  }

  &__text {
    margin-bottom: 30px;
    font-size: 14px;
    line-height: 29px;
    color: $services-text;
    text-align: center;
  }

  &__divider {
    @include divider();
    margin-bottom: 70px;
  }

  &__info {
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .ideas {
    flex-basis: 50%;
    background-color: $white;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
    padding: 60px 20px 60px;
    z-index: 5;

    &__icon {
      margin: 20px auto 60px;
      width: 71px;
      height: 71px;
      background-color: $red;
      padding: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      transform: rotate(-45deg);

      .ideas__img {
        fill: $white;
        transform: rotate(45deg);
      }
    }

    &__title {
      margin-bottom: 30px;
      text-transform: uppercase;
      font-size: 18px;
      line-height: 20px;
      letter-spacing: 1.35px;
      font-weight: 600;
      color: $case-study-title;
    }

    &__text {
      margin-bottom: 60px;
      font-size: 14px;
      line-height: 24px;
      letter-spacing: 1.05px;
      color: $services-text;
    }

    &__btn {
      margin-bottom: 60px;
      @include btn($two-button: false);
    }
  }

  &__right {
    flex-basis: 50%;
    margin-left: -50px;
    z-index: 0;
    img {
      max-width: 100%;
    }
  }
}

@media (max-width: 768px) {
  .case-study {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

@media (max-width: 576px) {
  .case-study {
    &__right {
      display: none;
    }

    .ideas {
      flex-basis: 100%;
    }
  }
}
