$white: #fff;
$black: #000;

$menu-color: #f4f5f9;
$red: #e74c3c;
$header-text: #cbc6c0;
$color-line-divider: #f1ebe7;
$advantages-line: #ccc;
$advantages-icon-line: #ccc;
$services-bg: #202020;
$services-text: #999999;

$case-study-title: #6a6a6a;
$case-study-bg: #f4f5f9;
